<! -- Outdate template for testing and learning html -->

<!DOCTYPE html>
<html>
<head>
    <title>HI there</title>
</head>
<body>
    <strong>Welcome to the Cuisine Aggregator! </strong>
    <br/>
    <br/>
    This website is compiled for you by:
    Austin Herrick, Camille Choe, Emily Ding (ACE)
    <br/>
    <br/>
    Click <a href="/about"> here </a> to learn about this aggregator.
    <br/>
    <br/>
    Click <a href="/allcities"> here </a> to view aggregations across all cities.
    <br/>
    <br/>
    Click <a href="/list"> here </a> to view aggregations for a specific city.


</body>
</html>



